@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
:root {
  --primary-color: #185ee0;
  --secondary-color: #e6eef9;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgba(230, 238, 249, 0.5);
}

.sliding-tabs-container {
  position: relative;
  margin: 10px 0px;
  width: 100%;
}

.sliding-tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.6rem;
  border-radius: 99px;
  justify-content: space-around;
}
.sliding-tabs * {
  z-index: 2;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 100px;
  /* font-size: 1.25rem; */
  font-size: 16px;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in;
}

label.active {
  color: var(--primary-color);
  font-weight: 700;
}
label > .notification {
  background-color: var(--primary-color);
  color: #fff;
}

.glider {
  position: absolute;
  display: flex;
  height: 44px;
  width: 100px;
  background-color: var(--secondary-color);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
  top: 10px;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}
